TOKEN=токен вашего бота, созданного в BotFather
ADMINS=список id админов через запятую+пробел "1, 2, 3"
IP=localhost
PGUSER=пользователь PostgreSQL, не советую оставлять стандартным postgres - придёт какой-нибудь вредонос-бот и удалит базу
PGPASS=пароль от PostgreSQL также не стоит использовать стандартный postgres - по той же причине что и пользователя
DBNAME=название базы данных внутри PostgreSQL
PGHOST=localhost
PGHOSTDOCKER=название сервиса отвечающего за PostgreSQL в docker-compose.yml-файле
PGHOST_LOCAL_TO_DOCKER=localhost
PGPORT=5432 не советую использовать стандартный порт 5432 по соображениям безопасности
PGPORTDOCKER=5432
PGPORT_LOCAL_TO_DOCKER=5433